

#
#
#	*.log 	 	- Не отслеживаем все файлы с расширенеим .log
#	*conf 	 	- Не отслеживаем все файлы с расширенеим .conf
#	.key  	 	- Не отслеживаем файл .key
#	.key.pub 	- Не отслеживаем файл .key.pub
#
#


*.log
*.conf
.key
.key.pub 
