*.log 		// Отключаем отслеживане всех файлов с рашсиренем .log
*.conf		// Отключаем отслеживание всех файлов с расширением .conf
.key		// Отключаем отслеживание файла .key
.key.pub	// Отключаем отслеживаени файла .key.pub
